@import "vars"



@media screen and (max-width: 1600px)
	.header
		background-size: cover
	.container
		max-width: 1200px
		padding: 0 50px
	.reasons
		.demand
			&-items
				padding: 0
				width: 100%
			&-item
				max-width: 48%
		&-title
			&__demand
				&:after
					left: 0
	.concept
		&-item
			&--green
				padding: 100px
				justify-content: center
	.success
		&:before
			left: -100px
					
@media screen and (max-width: 1366px)
	.header
		.onmarket
			margin-right: 20px
	.header-sended
		&__wrap
			&:before
				content: none
		.mezhd-set
			&:before
				content: none
		&__center
			&-title
				&:before
					left: -10%
				&:after
					right: -20%
	.adv
		&-yellow
			.yellow-left
				padding: 100px 50px
				&__bottom
					margin-top: 20%
					width: 100%
					text-align: center
					p
						width: 100%
						white-space: normal
						margin-bottom: 10px
	.reasons
		&-connect
			left: 86%
		&-title
			&--cost
				&:after
					left: 54%
	.success
		&:before
			left: -182px
		&:after
			left: -95px
		&-right__images
			&:after
				width: 500px
			&:before
				top: 300px

	

					
@media screen and (max-width: 1024px)
	section
		padding: 50px 0
	.header
		&:before
			content: none
		&-top
			&__center
				&-right
					flex-direction: column
					& > *
						&:not(:last-child)
							margin-bottom: 5px
					.btn-transparent
						margin-right: 0
					.phone-number
						margin-right: 0
				&-left
					.mezhd-set
						font-size: 12px
						line-height: 18px
		&-descr
			&__details
				margin-top: 50px
	.djigit
		&-left
			width: 50%
			.h2
				font-size: 100px
		&-img
			margin-left: 70px
	.adv
		&-item
			flex-direction: column
		&-left
			max-width: 100%
		&-right
			&__item
				max-width: 50%
				padding: 30px
		&-yellow
			flex-direction: column
			.yellow-left
				max-width: 100%
			.yellow-right
				max-width: 100%
	.reasons
		&:after
			top: 0
			left: 72%
		&-title
			&--cost
				&:after
					content: none
		&-connect
			left: 70%
		&-squares
			flex-wrap: wrap
			.squares-item
				width: 50%
			&__bottom
				margin: 0 auto
		.demand-items
			padding: 0 50px
			max-width: 100%
		.earnings-item
			height: 600px
		.earnings-item--grey
			padding: 30px
	.form-rules
		&__inner
			max-width: 900px

	.graph-slider
		&__title
			font-size: 20px
			&-note
				font-size: 18px
				line-height: 20px
		&__profit-num
			font-size: 30px
			line-height: 32px
	.indicators
		&-center
			&__title
				font-size: 50px
				line-height: 55px
	.detailpres
		&-left
			width: 40%
			margin-right: 5%
		&-center
			&:before
				left: -192px
	.concept
		&-items
			margin-top: 50px
		&-item
			height: auto
			&--grey
				padding: 20px
			&__title
				&--black
					&:before
						content: none
	.monitor
		&-trends
			&__item
				&-img
					padding-left: 0
				&-title
					&:before
						content: none
				&--right
					padding: 20px
					justify-content: center
					align-items: center
	.form-invest
		padding-top: 0
		&__inner
			padding: 50px 30px
		&:after
			top: 50px
			width: 50%
			height: 400px
			background-size: cover
		&__btn
			position: relative
	.quote
		&:before
			content: none
		&-wrap
			&:before
				left: 50px
	.guests
		&-steps
			&__title
				padding-left: 20px
				
	.stages
		&-item
			max-width: 50%
	.experience
		&-item
			&--orange
				width: 80%
				margin: 0 auto
				padding: 30px
	.success
		&:after
			content: none
		&:before
			content: none
		&-right
			&__images
				&:after
					right: -115px
	.quiz
		&:before
			left: -80px
		&:after
			right: -20px
		&-bottom
			&:before
				width: 100px
				height: 120px
				background-size: cover
				top: 150px
		&-question-3
			&__line
				& > *
					&:not(:last-child)
						margin-right: 10px
		&-question-4
			&__top
				padding: 30px 60px
		&-num
			&--line
				&:before
					width: 200%
	.footer
		&-top
			&__left
				justify-content: space-around
				
	//Popups
	.ostrov
		&-line
			height: auto
			&__title
				font-size: 20px
				line-height: 22px
			&__list
				&-item
					margin-top: 10px
		.mfp-close
			left: calc(100% - 30px)
			top: -75px
	.foodcort
		.mfp-close
			top: -75px
			left: calc(100% - 30px)
				
				
	//FORMS
	.fast-casual
		&__content
			height: 100vh
			&-left
				background-size: cover
		.mfp-close
			top: -60px
			right: 0
			
	.presentation
		&-img
			&__wrap
				left: -115%
		.mfp-close
			right: 0
		


@media screen and (max-width: 768px)
	.header
		height: auto
		padding-top: 15px
		.logo
			margin-right: 0
		&-top
			flex-direction: column
			&__center
				flex-direction: column
				&-left
					flex-direction: column
					align-items: center
					.mezhd-set
						margin: 15px auto
						display: block
						text-align: center
					.onmarket
						display: none
				&-right
					display: flex
					flex-direction: row
					flex-wrap: wrap
					justify-content: center
					.btn-transparent
						width: 45%
						&:not(:last-child)
							margin-right: 10px
					.phone-number
						margin: 10px auto
		&-descr
			&__details
				padding-bottom: 50px
	.djigit
		&-wrap
			flex-direction: column
			justify-content: center
			align-items: center
		&-left
			width: 100%
	.reasons
		&-top
			padding-left: 0
		.earnings
			&-items
				flex-direction: column
			&-item
				padding: 30px
				width: 100%
				height: auto
				&--grey
					height: auto
				&--slider
					padding: 0
	.form-rules
		&__inner
			padding: 40px
			max-width: 600px
			
	.foodcort-img
		height: auto
		img
			height: auto
	.graph
		&:after
			content: none
		&-slider
			&__title
				text-align: center
			&__item
				flex-direction: column
			&__left
				max-width: 100%
				width: 100%
				align-items: center
				justify-content: center
				display: flex
				flex-direction: column
			&__right
				width: 100%
				max-width: 768px
				height: auto
			&__profit
				text-align: center
	.indicators
		&-center
			padding: 0
			
	.detailpres
		padding: 0
		&-left
			width: 100%
		&-center
			flex-direction: column
			&:before
				left: 5%
				
	.concept
		&-item
			&__title
				&--white
					&:before
						content: none
	
	.recomend
		&-item
			padding: 0
			&__img
				&--left
					max-width: 100%
					height: 100%
					padding: 0
					img
						object-fit: contain
						width: 100%
						height: 100%
						
	.form-invest
		&:after
			display: none
		&__inner
			text-align: center
			margin: 0 auto
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
		&__btn
			display: flex
			justify-content: center
	.stages
		&-title
			font-size: 60px
			line-height: 70px
			&:before
				content: none
	.reviews
		&-people
			&__slider
				max-width: 700px
				&-item
					&-wrap
						flex-direction: column
						align-items: center
						padding: 20px
						width: 100%
				&-left
					position: inherit
					max-width: 100%
					margin-right: 0
					margin-bottom: 20px
				&-right
					width: 100%
					text-align: justify
				&-nav
					&:after
						width: 30%
						right: 12%
					&:before
						width: 30%
						left: 13%
						
	.experience
		&-item
			padding: 20px
			&--leaf
				&:after
					top: 150px
					right: 5%
			&--leaf-2
				&:before
					top: 0
		&-bottom
			padding: 20px
			&__title
				font-size: 60px
				line-height: 70px
			&__note
				font-size: 45px
				line-height: 50px
				
	.success
		padding-top: 0
		&-wrap
			padding: 0 30px
			justify-content: center
		&-form
			max-width: 100%
		&-left
			margin-right: 0
		&-right
			&__images
				&:after
					right: -175px
	.questions
		&-right
			flex-shrink: 0
		&-answer
			top: 95px
			
	.contacts
		&-title
			font-size: 30px
			line-height: 35px
		&-note
			font-size: 20px
			line-height: 25px
			margin-top: 15px
		&-buttons
			flex-direction: column
			align-items: center
		&-btn
			margin-bottom: 10px
			&:not(:last-child)
				margin-right: 0
		&-number
			font-size: 50px
			line-height: 60px
	.map
		&-left
			left: 40px
			max-width: 300px
		&-title
			font-size: 20px
			line-height: 25px
		
	.quiz
		&:after
			content: none
		&-num
			&--line
				&:before
					content: none
		&-form
			&__wrap
				input[type="text"]
					font-size: 18px
					line-height: 20px
		&-final
			&__manager
				top: -110px
				left: 90%
		&-bottom
			&:before
				top: 175px
		&-question-4__top
			padding: 20px
	
	.footer
		&-logo
			margin-bottom: 20px
		&-top
			align-items: center
			&__left
				flex-direction: column
				align-items: center
			&__right
				.phone-number
					font-size: 18px
			&__buttons
				flex-direction: column
				align-items: center
				& > *
					&:not(:last-child)
						margin-right: 0
						margin-bottom: 10px
			&__center
				.footer-online
					text-align: center
					
	//Tooltip
	.tooltip-iterior
		&-show
			left: 20px
			top: 42px
			width: 250px
	//FORMS
	.fast-casual
		&__content
			height: auto
			flex-wrap: wrap
			max-width: 600px
			&-left
				width: 100%
		&__form
			width: 100%
		.mfp-close
			top: 20px
	.presentation
		&-content
			flex-direction: column
			align-items: center
		&-img
			width: 100%
			height: 400px
			&__wrap
				left: 0
				width: 100%
				img
					object-fit: cover
					width: 100%
					height: 75%
		.mfp-close
			top: -160px

@media screen and (max-width: 480px)
	.container
		padding: 0 10px
	.h1
		font-size: 35px
		text-align: center
	.header
		&-descr
			margin-top: 30px
			&-wrap
				flex-direction: column
				align-items: center
			&__zarab
				margin: 0 auto
				width: 90%
				display: flex
				justify-content: center
				flex-wrap: wrap
				&-text
					color: #fff
					text-align: center
					font-size: 25px
					line-height: 0
					white-space: nowrap
					background-color: transparent
					&--bottom
						text-align: left
			&__owner
				text-align: center
				font-size: 20px
				line-height: 25px
			&__exp
				text-align: center
				font-size: 20px
				line-height: 25px
			&__details
				margin-top: 100px
				padding-bottom: 20px
		&-wrap
			&:after
				content: none
		&-sended
			&__center
				&-title
					margin-top: 60px
					font-size: 30px
					line-height: 35px
					&:before
						margin-top: 60px
					&:after
						content: none
				&-spec
					margin-top: 0
					font-size: 16px
					line-height: 18px
					&--img
						font-size: 16px
						line-height: 18px
					&--day
						margin-top: 0
			&__catalog
				width: 100%
				height: auto
		.back-tosite
			margin: 30px 0
		.btn-orrange--cat
			padding: 30px 53px
			&:before
				width: 178px
				height: 150px
				right: -16px
				top: 6px
				background-repeat: no-repeat
				background-size: contain
		&-sended__center-title
			&:before
				content: none
	.djigit
		padding-top: 30px
		&-wrap
			flex-direction: column
		.h2
			font-size: 60px
			line-height: 70px
			text-align: center
		&-descr
			padding: 10px
		&-img
			left: 0
			margin-left: 0
	.adv
		&-right
			flex-direction: column
			&__item
				max-width: 100%
		&-left
			height: auto
			&-orange
				padding: 20px
			&__title
				font-size: 30px
				line-height: 30px
		&-yellow
			.yellow-left
				padding: 20px
				height: auto
				&__descr
					font-size: 16px
					line-height: 18px
				&__img
					width: 80%
					height: 112px
					img
						height: 112px
						object-fit: cover
				h2
					font-size: 30px
					line-height: 35px
					text-align: center
	.reasons
		padding-top: 0
		&-top
			padding-left: 0
			text-align: center
		&-title
			font-size: 30px
			line-height: 35px
			&--cost:after
				display: none
			&--earnings
				margin-top: 20px
				font-size: 30px
				line-height: 35px
				text-align: center
			&__prev
				margin: 0 auto 10px
				display: block
				white-space: nowrap
				font-size: 17px
				border-bottom: none
				max-width: 284px
				width: 100%
				&:after
					left: 0
					width: 100%
			&__demand
				font-size: 30px
				line-height: 35px
				text-align: center
				&:after
					content: none
			&__descr
				margin-top: 20px
				font-size: 16px
				line-height: 18px
			&__chose
				font-size: 30px
				line-height: 35px
		.earnings
			&-title
				text-align: center
				font-size: 16px
				line-height: 18px
			&-item
				padding: 10px
				&__title
					font-size: 30px
					line-height: 35px
				&__spec
					font-size: 16px
					line-height: 18px
				&__bottom
					margin-top: 50px
					font-size: 16px
					line-height: 18px
				&--slider
					img
						height: 270px
				&__note
					font-size: 16px
					line-height: 18px
				
		&-connect
			display: none
		&-squares
			flex-direction: column
			.squares-item
				padding: 20px
				width: 100%
				height: auto
				&__title
					margin-top: 10px
					font-size: 16px
					line-height: 18px
				&__square
					margin-top: 10px
					font-size: 16px
					line-height: 18px
			&__bottom
				padding: 10px
				font-size: 18px
				line-height: 20px
				text-align: justify
		.demand
			padding-top: 20px
			&-items
				padding: 0 10px
				flex-direction: column
			&-item
				margin-top: 20px
				max-width: 100%
				text-align: center
				&__title
					font-size: 18px
					line-height: 20px
					&-leaf
						&:before
							content: none
				&__descr
					&-text
						font-size: 16px
						line-height: 18px
				&__price
					margin-top: 0
		.info-horeca
			&:hover
				.tooltip
					z-index: 9
			
	.form-rules
		&__inner
			height: auto
		&__btn
			.btn-transparent
				padding: 20px 40px
				font-weight: normal
				font-size: 14px
	.graph
		padding-top: 50px
		padding-bottom: 0
		&-title
			font-size: 30px
			line-height: 35px
			&__descr
				font-size: 20px
				line-height: 25px
		&-slider
			&__left
				padding-top: 60px
			&__title
				font-size: 18px
				line-height: 20px
				&-note
					font-size: 16px
					line-height: 18px
			&__profit
				margin-top: 20px
			&__check
				margin-top: 20px
			&__percent
				margin-top: 20px
		.slick-dots
			li
				button
					width: 32px
					height: 32px
					font-size: 16px
					line-height: 16px
	.indicators
		&-left
			display: none
		&-right
			display: none
		&-center
			margin-top: 0
			&__title
				font-size: 30px
				line-height: 35px
				margin-top: 30px
			&__descr
				font-size: 16px
				line-height: 18px
			&__note
				font-size: 16px
				line-height: 18px
		
	.detailpres
		&:before
			content: none
		&-left
			margin-right: 0
			&__title
				text-align: center
				font-size: 30px
				line-height: 35px
			&__note
				text-align: center
				font-size: 16px
				line-height: 18px
		&-center
			padding: 40px 20px
			&:before
				left: 0
				top: 0
				max-height: 200px

	.concept
		padding-top: 0
		&:after
			top: 4.5%
			width: 70px
			height: 50px
			background-size: cover
		&:before
			content: none
		&-header
			&__title
				font-size: 30px
				line-height: 35px
			&__descr
				padding: 0 20px
				font-size: 16px
				line-height: 18px
		&-items
			flex-direction: column
		&-item
			width: 100%
			&--green
				padding: 30px 20px
			&__title
				font-size: 30px
				line-height: 35px
			&__descr
				margin-top: 0
				font-size: 16px
				line-height: 18px
			&__icon
				&-descr
					font-size: 16px
					line-height: 18px
	.recomend
		padding: 40px 0
		&-items
			flex-direction: column
			align-items: center
			&:before
				content: none
			&:after
				content: none
		&-item
			margin-bottom: 20px
			display: flex
			justify-content: center
			text-align: center
			width: 100%
			&__img
				img
					width: 70%
			&__text
				font-size: 16px
				line-height: 18px
	.monitor
		&-trends
			padding-bottom: 0
			flex-direction: column
			align-items: center
			&__item
				width: 100%
				&-title
					font-size: 30px
					line-height: 30px
				&-descr
					font-size: 16px
					line-height: 18px
	.form-invest
		&__title
			font-size: 30px
			line-height: 35px
		&__btn
			margin-top: 15px
			.btn-white
				text-align: center
				padding: 20px 40px
				font-size: 14px
				line-height: 16px
				
		&__note
			margin: 0
			font-size: 16px
			line-height: 18px
	.pizzeria
		padding: 0
		&-top
			padding: 0 20px
			text-align: center
			&__prev
				position: relative
				border-bottom: none
				text-align: center
				line-height: 24px
				max-width: 278px
				width: 100%
				&:after
					content: ''
					position: absolute
					width: 91%
					bottom: 0
					left: 11px
					height: 2px
					background-color: #000
		&-title
			margin: 0
			text-align: center
			font-size: 30px
			line-height: 35px
			&__descr
				font-size: 16px
				line-height: 18px
		&-content
			flex-direction: column
		&-item
			width: 100%
			padding: 30px 20px
			.tooltip-iterior-show
				font-size: 12px
				line-height: 14px
				width: 200px
				padding: 10px
			&__icon
				margin-top: 10px
			&__title
				margin-top: 10px
				font-size: 16px
				line-height: 18px
			&__descr
				margin-top: 0
				font-size: 16px
				line-height: 18px
			&__note
				margin-top: 0
	.quote
		padding: 0
		&-wrap
			padding: 0 20px
			&:after
				top: 12%
				right: 0
			&:before
				top: 12%
				left: 5px
		&-text
			font-size: 16px
			line-height: 20px
			padding: 0 40px
		&-note
			font-size: 16px
			line-height: 20px
		&-img
			width: 65px
			height: 65px
		&-content
			justify-content: center
			&__right
				width: 70%
		&-btn
			.btn-transparent
				padding: 20px 40px
				font-size: 14px
				font-weight: normal
			
	.guests
		&-top
			padding: 0 20px
		&-title
			font-size: 30px
			line-height: 35px
			text-align: center
		&-note
			margin-top: 0
			font-size: 16px
			line-height: 20px
			text-align: center
		&-steps
			margin-top: 10px
			&__line
				flex-direction: column
				&--mobile
					flex-direction: row
					padding: 0 5px
			&__descr
				font-size: 16px
				line-height: 20px
			&__right
				max-width: 100%

			
				
	.experience
		padding-top: 0
		&-title
			padding: 0 20px
			font-size: 32px
			line-height: 35px
		&-note
			padding: 0 20px
		&-content
			margin-top: 0
		&-item
			&__title
				font-size: 30px
				line-height: 35px
			&__note
				font-size: 16px
				line-height: 18px
			&__note-orange
				text-align: center
				font-size: 16px
				line-height: 18px
			&--leaf
				&:after
					width: 100px
					height: 100px
					right: 50px
					background-size: cover
			&--leaf-2
				&:before
					top: -30px
		&-bottom
			&__title
				margin-top: 40px
				font-size: 45px
				line-height: 50px
			&__note
				font-size: 22px
				line-height: 30px
			&__text
				font-size: 16px
				line-height: 20px
	.success
		&-title
			margin-top: 30px
			font-size: 30px
			line-height: 35px
			text-align: center
			&:before
				content: none
		&-wrap
			flex-direction: column
			align-items: center
		&-text
			margin-top: 20px
			text-align: justify
			font-size: 16px
			line-height: 20px
		&-right
			order: 1
			&__images
				&:before
					content: none
				&:after
					content: none
		&-left
			order: 2
		.main-form
			.btn-orrange
				padding: 20px 40px
				font-size: 14px
				line-height: 16px
				font-weight: normal
				
	.questions
		padding-bottom: 0
		&-wrap
			padding: 0 20px
		&-title
			font-size: 30px
			line-height: 30px
		&-content
			margin-top: 0
		&-item
			padding: 10px
			margin-bottom: 0
		&-left
			font-size: 16px
			line-height: 18px
		&-answer
			top: 70px
			padding: 10px
			font-size: 16px
			line-height: 18px
			&__wrap
				flex-direction: column
			&__item
				width: 100%
	.stages
		&-content
			margin-top: 20px
			flex-direction: column
		&-top
			padding: 0 20px
		&-title
			text-align: center
			font-size: 30px
			line-height: 35px
		&-item
			max-width: 100%
			margin-bottom: 10px
			&:not(:last-child)
				border-right: none
			&__descr
				margin-top: 10px
				font-size: 16px
				line-height: 20px
	.instructions
		&-title
			font-size: 22px
			line-height: 26px
			padding: 0 20px
		&-content
			flex-direction: column
			&__item
				max-width: 100%
			&__title
				margin-bottom: 0
				font-size: 16px
				line-height: 18px
			&__note
				margin-bottom: 0
		&-bottom
			&__note
				font-size: 16px
				padding: 0 20px
			&__btn
				padding: 0 20px
				.btn-orrange
					text-align: center
					padding: 32px 40px
					
	.reviews
		&-title
			font-size: 30px
			line-height: 35px
		&-people__slider
			&-left
				margin-right: -28px
			&-right
				font-size: 16px
				line-height: 18px
			&-nav
				margin-top: 10px
				&:after
					content: none
				&:before
					content: none
			&-name-note--left
				margin-left: 0
		&-inner-prev
			left: 10px
		&-inner-next
			right: 10px
		&-bottom
			margin-top: 0
			&__slider
				height: auto
				&-item
					height: auto
			&__btn
				padding: 0 20px
				.btn-transparent--white
					padding: 20px 40px
					font-size: 14px
					line-height: 16px
					font-weight: normal
			
	.contacts
		padding-bottom: 20px
		&-wrap
			padding: 0 20px
		&-number
			margin-top: 0
			font-size: 35px
	
	.map
		padding-top: 0
		&-title
			padding: 10px
		&-left
			height: 250px
			left: 0
			top: 0
		&-list
			height: 270px
			&__item
				padding: 10px 30px
				font-size: 14px
				line-height: 16px
				&:before
					top: 5px
					left: 10px
					
	.quiz
		&:before
			content: none
		&-wrap
			padding: 0 20px
			input[type="text"]
				background: transparent
				font-size: 16px
				line-height: 16px
		&-title
			font-size: 30px
			line-height: 35px
			&__final
				&-text
					position: relative
					z-index: 2
			&:after
				right: -6%
				top: -52px
				width: 80px
				height: 80px
				background-size: cover
		&-numbers
			margin-top: 0
		&-num
			width: 40px
			height: 40px
			line-height: 25px
			font-size: 25px
		&-section
			position: relative
		&-form__btn
			text-align: center
			width: 45%
			padding: 20px
			font-size: 15px
			line-height: 17px
		&-question
			margin: 20px 0
			font-size: 18px
			line-height: 20px
			&-2
				label
					padding: 10px
					height: auto
					font-size: 16px
			&-3__title
				text-align: center
				font-size: 14px
				line-height: 14px
			&-3__text
				display: block
				text-align: center
				font-size: 12px
				line-height: 14px
			&-3__top
				padding: 15px
			&-3__bottom
				padding: 15px
		&-descr
			p
				font-size: 16px
				line-height: 20px
			&__link
				display: block
				font-size: 14px
				line-height: 16px
		&-final
			&__manager
				display: none
		&-specialist__note
			display: block
			font-size: 16px
			line-height: 18px
		&-bottom
			&:before
				content: none
		input[name="client_city"]
			padding: 20px
			font-size: 16px
			line-height: 16px
				
	.footer
		&-top
			flex-direction: column
			&__right
				align-items: center
			&__buttons
				flex-direction: row
				justify-content: center
				margin-bottom: 20px
				.btn-transparent
					margin-right: 10px
					margin-bottom: 0
		&-bottom
			padding: 0 20px
			justify-content: space-around
			align-items: center
			&__left
				margin-left: 30px
				a
					display: block
					font-size: 14px
					line-height: 16px
					margin-right: 10px
		
		&-sended
			&:before
				content: none
			&:after
				top: -45px
				width: 100px
				height: 100px
				background-size: cover
		
	//Popups
	.ostrov
		padding: 20px
		&-line
			flex-direction: column
			height: auto
			&__title
				font-size: 20px
				line-height: 22px
			&__img
				width: 100%
			&__text
				width: 100%
				order: 2
			&__slider
				order: 1
				height: 400px
				width: 100%
				&-item
					height: 400px
				&--bottom
					&:before
						height: 400px
						background-size: cover
			&__list-item
				font-size: 16px
				line-height: 18px
				&:before
					top: calc(50% - 4px)
		&-title
			font-size: 25px
			line-height: 27px
		.mfp-close
			position: absolute
			top: -50px
			left: calc(100% - 30px)
	//Forms
	.inventure
		&-top
			padding: 20px
			&:after
				top: 63%
		&-title
			margin-top: 0
			font-size: 25px
			line-height: 28px
		&-orange
			margin-top: 10px
			&__title
				margin: 0 auto
			&__descr
				flex-direction: column
				width: 100%
			&__text
				font-size: 16px
				line-height: 20px
		&-bottom
			.presentation
				&-title
					font-size: 25px
					line-height: 28px
		.mfp-close
			top: -50px
			right: -20px
	.presentation
		height: auto
		padding-top: 60px
		&-wrap
			padding: 20px
		&-title
			font-size: 30px
			line-height: 35px
		
		&-img
			display: none
			&__wrap
				height: auto
				img
					height: 35%
		.mfp-close
			top: 0
			left: calc(100% - 30px)
			
	.callback
		&-wrap
			position: relative
			padding: 20px
			&:after
				content: none
		&-title
			font-size: 25px
			line-height: 30px
		&-text
			margin-top: 0
			font-size: 16px
			line-height: 18px
		&-form
			padding-top: 50px
			height: auto
			.btns-time
				position: relative
				z-index: 1
				.btn-time
					white-space: nowrap
					padding: 7px 30px
			.mfp-close
				position: absolute
				top: 6px
				left: calc(100% - 16px)
			form
				input
					padding: 10px
					font-size: 14px
					line-height: 18px
					
	.fast-casual
		height: auto
		&__content
			&-title
				font-size: 25px
				line-height: 30px
			&-note
				font-size: 14px
				line-height: 16px
			&-item
				font-size: 16px
				line-height: 18px
		&__form
			.djigit-right
				.main-form
					.h3
						font-size: 25px
						line-height: 30px
					.btn-orrange--fast
						padding: 42px 140px 42px 47px
	.main-form
		input
			padding: 20px
			font-size: 16px
			line-height: 16px
		.h3
			font-size: 16px
			line-height: 18px
	
	//Buttons
	.btn
		&-transparent
			&--white
				padding: 30px 40px
				font-size: 14px
				line-height: 14px
				text-align: center
				white-space: normal
		&-orrange
			padding: 30px 40px
			
	
	//Tooltips
	.tooltip
		padding: 10px
		font-size: 14px
		line-height: 16px
		&-guests-show
			max-width: 150px
			top: 40px
			left: -200px
			&:before
				left: 83%
				top: -14px
				transform: rotate(90deg)
		&-concept
			&__show
				min-width: 320px
				width: 100%
				left: -150px
				&:before
					left: 52%
			&__btn
				font-size: 12px
				line-height: 14px
				font-weight: normal
	.concept-item__icon-descr
		max-width: 200px
		
@media screen and (max-width: 320px)
	.header
		&-descr__zarab-text
			font-size: 22px
		.btn-orrange--cat
			font-size: 14px
			padding: 30px 34px
			&:before
				right: -22px
				width: 165px
	.concept
		&:after
			top: 5.5%
			right: 2%
	.adv-yellow .yellow-left__img
		img
			height: 96px